.container{
    background: url("../img/hamburger.jpg");
    background-size: 100% 100%;
    border-radius: 10px;

}

.btn-small {
    margin: 5px;
}

body{
    background: rgb(224, 125, 224);
}

h1,h3{
    background: rgba(224, 186, 224, 0.507);
    font-weight: bolder;
}
h6{
    background: rgba(255, 255, 0, 0.76);
    padding: 15px;
}

h5{
    font-weight: bolder;
    font-size: 40px;

}

.middle{
    background: rgba(224, 186, 224, 0.877);
}

ul{
    font-weight: bolder;
}