.container{
    background: url("../img/hamburger.jpg");
    background-size: 100% 100%;
    border-radius: 10px;

}

.btn-small {
    margin: 5px;
}

body{
    background: rgb(224, 125, 224);
}


.buns{
    background: #ffd901;
    padding: 15px;
    border-radius: 10px;

}
.lettuce{
    background: #33691e;
    padding: 15px;
    border-radius: 10px;
    color:white;
    font-weight: bolder;
}

.ketchup{
    background:#e53935;
    border-radius: 10px;
    padding: 10px;
}

h5{
    font-weight: bolder;
    font-size: 40px;

}

.middle{
    background: #793424ce;
    border-radius: 10px;
}

ul{
    font-weight: bolder;
}